---
import Section from "@/components/Section.astro";
import { work } from "@cv-br";
---

<div class="experience">
  <Section title="Experiência">
    <ul>
      {
        work.map(({ name, startDate, endDate, position, summary }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Atual";
          const years = `${startYear} - ${endYear}`;
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{name}</h3>
                  </div>
                  <time>{years}</time>
                </header>
                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          );
        })
      }
    </ul>
  </Section>
</div>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .article h3 {
    font-weight: 500;
    color: #111;
  }

  .article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  .time {
    font-size: 0.85rem;
    color: #555;
  }
  h3 {
    margin-bottom: 6px;
  }

  .experience {
    max-width: 700px;
    margin: 0 auto 38px;
    margin-bottom: 20px;
  }
</style>
