---
import Section from "../Section.astro";
import { work } from "@cv";
---

<Section title="Experiencia">
  <ul>
    {
      work.map(({ name, startDate, endDate, position, summary }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{name}</h3>
                </div>
                <time>{years}</time>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  @media (min-width: 768px) {
    ul h3 {
      font-size: 1.87rem;
    }
  }

  @media (min-width: 1024px) {
    ul h3 {
      font-size: 1.17rem;
    }
  }

  time {
    font-size: 0.87rem;
  }

  @media (min-width: 768px) {
    time {
      font-size: 1.65rem;
    }
  }

  @media (min-width: 1024px) {
    time {
      font-size: 0.87rem;
    }
  }
  .article h3 {
    font-weight: 500;
    color: #111;
  }

  .article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  .time {
    font-size: 0.85rem;
    color: #555;
  }
  h3 {
    margin-bottom: 6px;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.2rem;
    }
  }

  @media (min-width: 1024px) {
    p {
      font-size: 0.874rem; /* Tamaño para pantallas extra grandes */
    }
  }
</style>
